<% include header %>
<div class="preload load-container load3" ng-if="ajaxicon">
     <div class="loader">Loading...</div>
</div>

<button type="button" class="btn" ng-click="flipSide()">FlipSide</button>
<!-- BEGIN MAIN PAGE -->
<div id="page-main" class="page active grid-container" ng-show="!ajaxicon">

    <div class="content-wrapper with-footer">
        <!-- BEGIN CONTENT SECTION FOR MAIN PAGE -->
        <section class="content animated zoomIn">
            <div class="entries">
                <div id="main" class="entry mview">

                    <br>
                    <h1 class="anim-go-right grow">
                    <a href="https://github.com/poundkey"><i class="fa fa-windows"></i></a> TSLink </h1>
                    <h5 class="anim-go-right">
                    <a href="https://github.com/poundkey/TSLink"><i class="fa fa-github grow"></i></a>
                    A Realtime Bus Timer App Via Translink Vancouver
                    </h5>
                    <div ng-show="!user">
                        <form id="newsletter-form" class="the-form anim-go-left" ng-submit="enterUser()">
                            <div class="field-wrapper">
                                <input type="text" class="textfield required" ng-model="username" name="username" placeholder="Please enter your username..."/>
                                <button type="submit" class="btn">
                                <i class="fa fa-paper-plane-o"></i> Enter
                                </button>
                            </div>
                        </form>
                    </div>

                    <div ng-show="user">
                        <form id="newsletter-form" class="the-form anim-go-left" ng-submit="addBusStop()">
                            <div class="field-wrapper">
                                <input type="text" class="textfield required" ng-model="inputStop" name="stop" placeholder="Please add a nearby bus stop..."/>
                                <button type="submit" class="btn">
                                <i class="fa fa-search-plus"></i> Add
                                </button>
                            </div>
                        </form>
                    </div>

                        <br>
                        <div ng-repeat="err in errArray" ng-show="errShow" ng-if="user">
                            <div class="err animated bounceIn">{{err}}</div>
                        </div>
                        <hr>
                        <br>
                        <div ng-if="user">
                        		<div class="message" ng-repeat="arrivals in busStopDetails">
                                  <div class="message animated fadeInUp" ng-repeat="arrival in arrivals">
                                  <button class="btn arrive-box">
                                    <span class="arrive-left-item"><i class="fa fa-bus"></i> {{arrival.route}} {{arrival.dest}} </span>
                                    <span class=" double-slash-bar">&nbsp;&#166;&nbsp;</span>
                                    <div class="pulse-grow arrive-mid-item"><i class="fa fa-bell-o"></i> {{computeArrival(arrival.cTime)}}
                                    <i class="fa fa-at"></i> {{timeConf(arrival.aTime)}}
                                    </div>
                                    <span class="double-slash-bar">&nbsp;&#166;&nbsp;</span>
                                    <span class="arrive-right-item">
                                      <i class="fa fa-flag-o"></i> {{arrival.stop}}
                                      <a ng-click="removeStop(arrival.stop)" class="btn3">
                                      <i class="fa fa-trash-o"></i></a>
                                    </span>
                                  </button>

                                  <span>&nbsp;</span>

                                  <br><br>
                                  </div>
                        		</div>
                            <br>
                            <hr/><br>
                            <div class="animated flipInX" ng-if="user">
                            <button type="button" class="btn" ng-click="logout">{{user}}</button>
                            </div>
                        </div>
                        <br>
                    </form>
                    <!--
                    <div id="countdown" class="anim-go-left"></div>
                    -->
                </div>
            </div>
        </section>
        <!-- END CONTENT SECTION -->
    </div>
</div>
<!-- END MAIN PAGE -->

<div id="flare-1" class="flare"><img src="images/flare-1.png"/></div>
<div id="flare-2" class="flare"><img src="images/flare-2.png"/></div>
<div id="flare-3" class="flare"><img src="images/flare-3.png"/></div>
<div id="flare-4" class="flare"><img src="images/flare-4.png"/></div>


<% include footer %>