<% include header %>

<!-- BEGIN MAIN PAGE -->
<div id="page-main" class="page active grid-container">

  <div class="content-wrapper with-footer">
    <!-- BEGIN CONTENT SECTION FOR MAIN PAGE -->
    <section class="content animated zoomIn">
      <div class="entries">
        <div id="main" class="entry mview">

          <br>
          <h1 class="anim-go-right grow">
            <img src="images/tslink.png" alt="TSLink Vancouver" class="tslogo">TSLink
          </h1>
          <h5 class="anim-go-right">
            <a href="https://github.com/poundkey/TSLink"><i class="fa fa-github grow"></i></a>
            A Real-time Bus Timer App of Metro Vancouver
          </h5>

          <% include access %>
          <% include action %>
          <div ng-if='delay'><br><i class="fa fa-spinner fa-spin"></i></div>
          <br>
          <hr>
          <button type="button" class="btn3" ng-click='reset()' ng-if="!user">
            <i class="fa fa-arrow-circle-o-left fa-lg"></i>
          </button>
          <br>
          <div ng-if="user">
            <% include user %>
          </div>
          <br>
        </div>
      </div>
    </section>
    <!-- END CONTENT SECTION -->
  </div>
</div>
<!-- END MAIN PAGE -->

<!--
<div class="preload load-container load3" ng-if="ajaxicon">
 <div class="loader">Loading...</div>
</div>
-->
<div id="flare-1" class="flare"><img src="images/flare-1.png"/></div>
<div id="flare-2" class="flare"><img src="images/flare-2.png"/></div>
<div id="flare-3" class="flare"><img src="images/flare-3.png"/></div>
<div id="flare-4" class="flare"><img src="images/flare-4.png"/></div>


<% include footer %>