<% include header %>

<!-- BEGIN MAIN PAGE -->
<div id="page-main" class="page active">
    <div class="content-wrapper with-footer">
        <!-- BEGIN CONTENT SECTION FOR MAIN PAGE -->
        <section class="content">
            <div class="entries">
                <div id="main" class="entry" style="opacity:0.6;position:relative;background-color:#000000;margin: 0 auto;width: 80%">

                    <br>
                    <h1 class="anim-go-right grow">
                    <a href="https://github.com/poundkey"><i class="fa fa-windows"></i></a> TSLink </h1>
                    <h5 class="anim-go-right">
                    <a href="https://github.com/poundkey/TSLink"><i class="fa fa-github grow"></i></a>
                    A Bus Scheduler App Via Translink Vancouver
                    </h5>

                    <form id="newsletter-form" class="the-form anim-go-left" ng-submit="addBusStop()">
                        <div class="field-wrapper">
                            <input type="text" class="textfield required" ng-model="inputStop" name="stop" placeholder="Please add a nearby bus stop..." />
                            <button type="submit" class="btn" style="width:120px">Add Stop
                            </button>
                        </div>
                    </form>
                        <br>
                        <hr>
                        <br>

                        <div>
                        		<div class="message" ng-repeat="arrivals in busStopDetails">
                                  <div class="message animated fadeInUp" ng-repeat="arrival in arrivals">
                                  <button class="btn arrive-box">
                                  <span class="arrive-left-item"><i class="fa fa-bus"></i> {{arrival.route}} {{arrival.dest}} </span>
                                  <span>&nbsp;&#166;&nbsp;</span>
                                  <div class="pulse-grow arrive-mid-item"><i class="fa fa-bell-o"></i> {{computeArrival(arrival.cTime)}} <i class="fa fa-at"></i> {{arrival.aTime}}
                                  </div> 
                                  <span>&nbsp;&#166;&nbsp;</span>
                                  <span class="arrive-right-item">
                                    <i class="fa fa-flag-o"></i> {{arrival.stop}}
                                  </span>
                                  </button>
                                  <span>&nbsp;</span>
                                   <button ng-if="$first" type="button" ng-click="removeStop(arrival.stop)" class="btn3"><i class="fa fa-trash-o"></i></button>
                                  <br><br>
                                  </div>
                        		</div>
                            <br>
                            <hr/>
                        </div>
                        <br>
                    </form>
                    <!--
                    <div id="countdown" class="anim-go-left"></div>
                    -->
                </div>
            </div>
            <div class="push"></div>
        </section>
        <!-- END CONTENT SECTION -->

    </div>
</div>
<!-- END MAIN PAGE -->

<div id="flare-1" class="flare"><img src="images/flare-1.png"/></div>
<div id="flare-2" class="flare"><img src="images/flare-2.png"/></div>
<div id="flare-3" class="flare"><img src="images/flare-3.png"/></div>
<div id="flare-4" class="flare"><img src="images/flare-4.png"/></div>

<!-- BEGIN BACKGROUND -->
<div id="background">
    <img src="images/ym.jpg"/>
</div>
<!-- END BACKGROUND -->

<% include footer %>