<% include header %>

<!-- BEGIN MAIN PAGE -->
<div id="page-main" class="page active grid-container" ng-show="!ajaxicon">

  <div class="content-wrapper with-footer">
    <!-- BEGIN CONTENT SECTION FOR MAIN PAGE -->
    <section class="content animated zoomIn">
      <div class="entries">
        <div id="main" class="entry mview">

          <br>
          <h1 class="anim-go-right grow">
            <img src="images/tslink.png" alt="TSLink Vancouver" class="tslogo">TSLink
          </h1>
          <h5 class="anim-go-right">
            <a href="https://github.com/poundkey/TSLink"><i class="fa fa-github grow"></i></a>
            A Realtime Bus Timer App Via Translink Vancouver
          </h5>

          <% include access %>

          <div ng-if="user">
            <form id="newsletter-form" class="the-form anim-go-left" ng-submit="addStop()">
              <div class="field-wrapper">
                <input type="text" class="textfield required" ng-model="$parent.inputStop"
                name="stop" placeholder="Enter a five-digit bus stop number..." /> <br>
                <button type="submit" class="btn" style="width:100px">
                  <i class="fa fa-search-plus"></i> Add
                </button>
                &nbsp;
                <button class="btn tsbtn" type="button" style="width:100px" ng-click="nearby()">
                  <i class="fa fa-map-marker"></i> Nearby
                </button>
              </div>
            </form>
          </div>
          <div ng-if='delay'><br><i class="fa fa-spinner fa-spin"></i></div>
          <br>
          <hr>
          <button type="button" class="btn3" ng-click='reset()' ng-if="!user">
            <i class="fa fa-arrow-circle-o-left fa-lg"></i>
          </button>
          <br>
          <div ng-if="user">
            <% include info %>
            <br>
            <hr/>
            <div>
              <div class="message"><i class="fa fa-user"></i> {{user}}</div>
              <button type="button" class="btn3" ng-click="logout()">Log out</button>
            </div>
          </div>
          <br>
        </div>
      </div>
    </section>
    <!-- END CONTENT SECTION -->
  </div>
</div>
<!-- END MAIN PAGE -->

<!--
<div class="preload load-container load3" ng-if="ajaxicon">
 <div class="loader">Loading...</div>
</div>
-->
<div id="flare-1" class="flare"><img src="images/flare-1.png"/></div>
<div id="flare-2" class="flare"><img src="images/flare-2.png"/></div>
<div id="flare-3" class="flare"><img src="images/flare-3.png"/></div>
<div id="flare-4" class="flare"><img src="images/flare-4.png"/></div>


<% include footer %>