html {
	height:100%;
  width:100%;
  position:relative;
	background-image: url('../images/ym.jpg');
	background-repeat: repeat-y;
	background-position:center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mview {
	opacity: 0.6;
	background-color:#000000;
	width: 68%;
	margin: 0 auto;
}

@media screen and (max-width: 1280px) {
.mview {
	width: 80%;
	}
}

@media screen and (max-width: 720px) {
.mview {
	width: 100%;
	}
}




.arrive-box{
	width: 82%;
	left: 0px;
}

.arrive-left-item{
	position: relative;
	display: inline-block;
	left: 0%;
	width: 32%;
}

.arrive-mid-item{
	display: inline-block;
	position: relative;
	width: 40%;
}

.arrive-right-item{
	display: inline-block;
	position: relative;
	width: 17%;
}

.double-slash-bar{
	display: inline-block;
	position: relative;
}


@media screen and (max-width: 1092px) {

.arrive-box{
	width: 60%;
}
  .arrive-left-item{
	width: 100%;
}

.arrive-mid-item{
	width: 100%;
}

.arrive-right-item{
	width: 100%;
}

.double-slash-bar{
	display: none;
}
}

@media screen and (max-width: 640px) {
.arrive-box{
	width: 85%;
}
}
