html {
	height:100%;
  width:100%;
  position:relative;
	background-image: url('../images/ym.jpg');
	background-repeat: repeat-y;
	background-position:center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.extra {
  border-bottom: 1px dotted white;
  margin-right: 10px;
}

.local {
  border-bottom: 0px dashed white;
  margin-bottom: 6px;
}

.btn5 {
  font: 200 17px 'Lato', Arial, Helvetica, sans-serif, serif;
  font-weight: 300;
  border: 2px solid #fff;
  background: none transparent;
  width: 80%;
  padding: 10px 3px;
  margin: 0 auto;
  color: #ffffff;
  cursor: pointer;
  outline: none 0;
  text-decoration: none;


  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.tslogo {
	width:72px;
	height:72px;
	top: 15px;
	position: relative;

}

.mview {
    opacity: 0.6;
    background-color:#000000;
    width: 68%;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
.mview {
    width: 80%;
    }
}

@media screen and (max-width: 720px) {
.mview {
    width: 100%;
    }
}

    .arrive-box{
        width: 81%;
        left: 0px;
    }

@media screen and (min-width: 1720px) {

    .arrive-box{
        width: 60%;
        left: 0px;
    }
}

@media screen and (min-width: 1480px) and (max-width: 1719px) {

    .arrive-box{
        width: 70%;
        left: 0px;
    }
}



.arrive-left-item{
    position: relative;
    display: inline-block;
    left: 0%;
    width: 32%;
}

.arrive-mid-item{
    display: inline-block;
    position: relative;
    width: 40%;
}

.arrive-right-item{
    display: inline-block;
    position: relative;
    width: 17%;
}

.double-slash-bar{
    display: inline-block;
    position: relative;
}


@media screen and (max-width: 1080px) {

.arrive-box{
    width: 60%;
}
  .arrive-left-item{
    width: 100%;
}

.arrive-mid-item{
    width: 100%;
}

.arrive-right-item{
    width: 100%;
}

.double-slash-bar{
    display: none;
}

.extra {
    display: block;
    width: 145px;
    position: relative;
    margin: auto;
}
}

@media screen and (max-width: 664px) {
.arrive-box{
    width: 85%;
}
}